<div class="header">
 <div class="header-left">
   <%= link_to image_tag("logo_1.png"), root_path  %>
 </div>
 <div class="header-right">
    <%if parent_user_signed_in?%>
    <div class="header-right-1">
    <%= button_to "#{current_parent_user.last_name_p_j}#{current_parent_user.first_name_p_j}さんのとしてログインしています", parent_user_path(current_parent_user), method: :get, class: "header-right-1-1" %>
    </div>
    <div class="header-right-2">
    <%= button_to "ログアウト", destroy_parent_user_session_path, method: :delete, class: "header-right-2-1" %>
    <%= button_to "新しく連絡帳をつくる", new_contact_path, method: :get, class: "header-right-2-2" %>
    </div>
    <% elsif teacher_user_signed_in? %>
    <a class="header-right-3-1"><%= "#{current_teacher_user.last_name_t_j}#{current_teacher_user.first_name_t_j}先生としてログインしています" %></a>
    <%= button_to "ログアウト", destroy_teacher_user_session_path, method: :delete, class: "header-right-3-2" %>
    <% else %>
    <h3 class="header-right-4">こんにちは！ハグコム保育園です</h3>
    <% end %>
 </div> 
</div>