<%=  "#{@contact.last_name_c_j}#{@contact.first_name_c_j}ちゃんのページ" %>

 <div class="prototype__image">
        <%= image_tag @contact.image, size: "350x350" %>
</div>


  <% if parent_user_signed_in? && current_parent_user.id == @contact.parent_user_id %>
     <div class="prototype__manage">
       <%= link_to "連絡帳を編集する", edit_contact_path(@contact.id), class: :prototype__btn %>
       <%= link_to "連絡帳を削除する", contact_path(@contact.id), method: :delete, class: :prototype__btn %>
     </div>
     <%= render partial: "parent_messages/form" %>
  <% end %> 


 <% if teacher_user_signed_in? %>
    <%= render partial: "teacher_messages/form" %>
  <% end %> 


  <% if parent_user_signed_in? && current_parent_user.id == @contact.parent_user_id || teacher_user_signed_in? %>
<li class="comments_list">
  <% @parent_messages.each do |parent_message| %>
    <p> 
     <%= parent_message.created_at.to_s(:datetime_jp) %>
     <%= parent_message.attendance.name %> 
     <%= parent_message.body_temperature.name %>
     <%= parent_message.pick_up_time.name %>
     <%= parent_message.pick_up_person.name %>
   </p>
  <% end %>
</li>
<li class="comments_list">
  <% @teacher_messages.each do |teacher_message| %>
    <p> 
     <%= teacher_message.created_at.to_s(:datetime_jp) %>
     <%= teacher_message.physical_condition.name %> 
     <%= teacher_message.school_lunch.name %>
     <%= teacher_message.defecation.name %>
     <div>
     <%= image_tag teacher_message.image, size: "350x350", class: 'teacher_message-image' if teacher_message.image.attached? %>
     </div>
   </p>
  <% end %>
</li>
<% end %>
